<main id="main" class="site-main" role="main" itemprop="mainContentOfPage">

  <div class="intro">
    <h2>Thousands of musicians have built websites on Bandzoogle.</h2>
    <h3>Here are some live examples.</h3>
  </div>

  <header class="page-header">
    <h1 class="page-title" itemprop="headline">Videos</h1>
  </header>




  <div id="posts-container" class="block-grid block-grid-2 block-grid--gutters block-grid--16x9 posts-container">


    <article id="block-grid-item-2042" class="block-grid-item post-2042 page type-page status-publish has-post-thumbnail entry">


      <a class="block-grid-item-image" href="https://wayfarerdemo.wordpress.com/videos/touch-the-sky/">
        <img width="530" height="298" src="https://wayfarerdemo.files.wordpress.com/2016/07/video-touch-the-sky.jpg?w=530&amp;h=298&amp;crop=1"
          class="attachment-wayfarer-block-grid-16x9 size-wayfarer-block-grid-16x9 wp-post-image" alt="" srcset="https://wayfarerdemo.files.wordpress.com/2016/07/video-touch-the-sky.jpg?w=530&amp;h=298&amp;crop=1 530w, https://wayfarerdemo.files.wordpress.com/2016/07/video-touch-the-sky.jpg?w=150&amp;h=84&amp;crop=1 150w, https://wayfarerdemo.files.wordpress.com/2016/07/video-touch-the-sky.jpg?w=300&amp;h=169&amp;crop=1 300w, https://wayfarerdemo.files.wordpress.com/2016/07/video-touch-the-sky.jpg 640w"
          sizes="(max-width: 530px) 100vw, 530px" itemprop="image" data-attachment-id="24" data-permalink="https://wayfarerdemo.wordpress.com/photos/video-touch-the-sky/"
          data-orig-file="https://wayfarerdemo.files.wordpress.com/2016/07/video-touch-the-sky.jpg" data-orig-size="640,360"
          data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
          data-image-title="Rehab: Lead Vocals" data-image-description="" data-medium-file="https://wayfarerdemo.files.wordpress.com/2016/07/video-touch-the-sky.jpg?w=300"
          data-large-file="https://wayfarerdemo.files.wordpress.com/2016/07/video-touch-the-sky.jpg?w=640">
      </a>
      <p style="float:right;">adslfka;dflkj;ksadfj;lk</p>

      <h1 class="block-grid-item-title">
        <a href="https://wayfarerdemo.wordpress.com/videos/touch-the-sky/" rel="bookmark">Touch The Sky — Hillsong&nbsp;UNITED</a>
      </h1>

    </article>


    <article id="block-grid-item-2034" class="block-grid-item post-2034 page type-page status-publish has-post-thumbnail entry">


      <a class="block-grid-item-image" href="https://wayfarerdemo.wordpress.com/videos/be-thou-my-vision/">
        <img width="530" height="298" src="https://wayfarerdemo.files.wordpress.com/2016/07/video-be-thou-my-vision.jpg?w=530&amp;h=298&amp;crop=1"
          class="attachment-wayfarer-block-grid-16x9 size-wayfarer-block-grid-16x9 wp-post-image" alt="" srcset="https://wayfarerdemo.files.wordpress.com/2016/07/video-be-thou-my-vision.jpg?w=530&amp;h=298&amp;crop=1 530w, https://wayfarerdemo.files.wordpress.com/2016/07/video-be-thou-my-vision.jpg?w=150&amp;h=84&amp;crop=1 150w, https://wayfarerdemo.files.wordpress.com/2016/07/video-be-thou-my-vision.jpg?w=300&amp;h=169&amp;crop=1 300w, https://wayfarerdemo.files.wordpress.com/2016/07/video-be-thou-my-vision.jpg 640w"
          sizes="(max-width: 530px) 100vw, 530px" itemprop="image" data-attachment-id="20" data-permalink="https://wayfarerdemo.wordpress.com/photos/video-be-thou-my-vision/"
          data-orig-file="https://wayfarerdemo.files.wordpress.com/2016/07/video-be-thou-my-vision.jpg" data-orig-size="640,360"
          data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
          data-image-title="Video: Be Thou My Vision" data-image-description="" data-medium-file="https://wayfarerdemo.files.wordpress.com/2016/07/video-be-thou-my-vision.jpg?w=300"
          data-large-file="https://wayfarerdemo.files.wordpress.com/2016/07/video-be-thou-my-vision.jpg?w=640">
      </a>

      <h1 class="block-grid-item-title">
        <a href="https://wayfarerdemo.wordpress.com/videos/be-thou-my-vision/" rel="bookmark">Be Thou My Vision — Audrey&nbsp;Assad</a>
      </h1>

    </article>


    <article id="block-grid-item-2036" class="block-grid-item post-2036 page type-page status-publish has-post-thumbnail entry">


      <a class="block-grid-item-image" href="https://wayfarerdemo.wordpress.com/videos/great-is-our-god/">
        <img width="530" height="298" src="https://wayfarerdemo.files.wordpress.com/2016/07/video-great-is-our-god.jpg?w=530&amp;h=298&amp;crop=1"
          class="attachment-wayfarer-block-grid-16x9 size-wayfarer-block-grid-16x9 wp-post-image" alt="" srcset="https://wayfarerdemo.files.wordpress.com/2016/07/video-great-is-our-god.jpg?w=530&amp;h=298&amp;crop=1 530w, https://wayfarerdemo.files.wordpress.com/2016/07/video-great-is-our-god.jpg?w=150&amp;h=84&amp;crop=1 150w, https://wayfarerdemo.files.wordpress.com/2016/07/video-great-is-our-god.jpg?w=300&amp;h=169&amp;crop=1 300w, https://wayfarerdemo.files.wordpress.com/2016/07/video-great-is-our-god.jpg 640w"
          sizes="(max-width: 530px) 100vw, 530px" itemprop="image" data-attachment-id="21" data-permalink="https://wayfarerdemo.wordpress.com/photos/video-great-is-our-god/"
          data-orig-file="https://wayfarerdemo.files.wordpress.com/2016/07/video-great-is-our-god.jpg" data-orig-size="640,360"
          data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
          data-image-title="Sarah: Vocals" data-image-description="" data-medium-file="https://wayfarerdemo.files.wordpress.com/2016/07/video-great-is-our-god.jpg?w=300"
          data-large-file="https://wayfarerdemo.files.wordpress.com/2016/07/video-great-is-our-god.jpg?w=640">
      </a>

      <h1 class="block-grid-item-title">
        <a href="https://wayfarerdemo.wordpress.com/videos/great-is-our-god/" rel="bookmark">Great Is Our God —&nbsp;Plumb</a>
      </h1>

    </article>


    <article id="block-grid-item-2038" class="block-grid-item post-2038 page type-page status-publish has-post-thumbnail entry">


      <a class="block-grid-item-image" href="https://wayfarerdemo.wordpress.com/videos/lion-and-the-lamb/">
        <img width="530" height="298" src="https://wayfarerdemo.files.wordpress.com/2016/07/video-lion-and-the-lamb.jpg?w=530&amp;h=298&amp;crop=1"
          class="attachment-wayfarer-block-grid-16x9 size-wayfarer-block-grid-16x9 wp-post-image" alt="" srcset="https://wayfarerdemo.files.wordpress.com/2016/07/video-lion-and-the-lamb.jpg?w=530&amp;h=298&amp;crop=1 530w, https://wayfarerdemo.files.wordpress.com/2016/07/video-lion-and-the-lamb.jpg?w=150&amp;h=84&amp;crop=1 150w, https://wayfarerdemo.files.wordpress.com/2016/07/video-lion-and-the-lamb.jpg?w=300&amp;h=169&amp;crop=1 300w, https://wayfarerdemo.files.wordpress.com/2016/07/video-lion-and-the-lamb.jpg 640w"
          sizes="(max-width: 530px) 100vw, 530px" itemprop="image" data-attachment-id="22" data-permalink="https://wayfarerdemo.wordpress.com/photos/video-lion-and-the-lamb/"
          data-orig-file="https://wayfarerdemo.files.wordpress.com/2016/07/video-lion-and-the-lamb.jpg" data-orig-size="640,360"
          data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
          data-image-title="John: Acoustic Guitar" data-image-description="" data-medium-file="https://wayfarerdemo.files.wordpress.com/2016/07/video-lion-and-the-lamb.jpg?w=300"
          data-large-file="https://wayfarerdemo.files.wordpress.com/2016/07/video-lion-and-the-lamb.jpg?w=640">
      </a>

      <h1 class="block-grid-item-title">
        <a href="https://wayfarerdemo.wordpress.com/videos/lion-and-the-lamb/" rel="bookmark">Lion And The Lamb —&nbsp;Leeland</a>
      </h1>

    </article>


    <article id="block-grid-item-2040" class="block-grid-item post-2040 page type-page status-publish has-post-thumbnail entry">


      <a class="block-grid-item-image" href="https://wayfarerdemo.wordpress.com/videos/lost-and-found/">
        <img width="530" height="298" src="https://wayfarerdemo.files.wordpress.com/2016/07/video-lost-and-found.jpg?w=530&amp;h=298&amp;crop=1"
          class="attachment-wayfarer-block-grid-16x9 size-wayfarer-block-grid-16x9 wp-post-image" alt="" srcset="https://wayfarerdemo.files.wordpress.com/2016/07/video-lost-and-found.jpg?w=530&amp;h=298&amp;crop=1 530w, https://wayfarerdemo.files.wordpress.com/2016/07/video-lost-and-found.jpg?w=150&amp;h=84&amp;crop=1 150w, https://wayfarerdemo.files.wordpress.com/2016/07/video-lost-and-found.jpg?w=300&amp;h=169&amp;crop=1 300w, https://wayfarerdemo.files.wordpress.com/2016/07/video-lost-and-found.jpg 640w"
          sizes="(max-width: 530px) 100vw, 530px" itemprop="image" data-attachment-id="23" data-permalink="https://wayfarerdemo.wordpress.com/photos/video-lost-and-found/"
          data-orig-file="https://wayfarerdemo.files.wordpress.com/2016/07/video-lost-and-found.jpg" data-orig-size="640,360"
          data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
          data-image-title="Video: Lost and Found" data-image-description="" data-medium-file="https://wayfarerdemo.files.wordpress.com/2016/07/video-lost-and-found.jpg?w=300"
          data-large-file="https://wayfarerdemo.files.wordpress.com/2016/07/video-lost-and-found.jpg?w=640">
      </a>

      <h1 class="block-grid-item-title">
        <a href="https://wayfarerdemo.wordpress.com/videos/lost-and-found/" rel="bookmark">Lost and Found — Us and Our&nbsp;Daughters</a>
      </h1>

    </article>


    <article id="block-grid-item-2044" class="block-grid-item post-2044 page type-page status-publish has-post-thumbnail entry">


      <a class="block-grid-item-image" href="https://wayfarerdemo.wordpress.com/videos/your-glory/">
        <img width="530" height="298" src="https://wayfarerdemo.files.wordpress.com/2016/07/video-your-glory-nothing-but-the-blood.jpg?w=530&amp;h=298&amp;crop=1"
          class="attachment-wayfarer-block-grid-16x9 size-wayfarer-block-grid-16x9 wp-post-image" alt="" srcset="https://wayfarerdemo.files.wordpress.com/2016/07/video-your-glory-nothing-but-the-blood.jpg?w=530&amp;h=298&amp;crop=1 530w, https://wayfarerdemo.files.wordpress.com/2016/07/video-your-glory-nothing-but-the-blood.jpg?w=150&amp;h=84&amp;crop=1 150w, https://wayfarerdemo.files.wordpress.com/2016/07/video-your-glory-nothing-but-the-blood.jpg?w=300&amp;h=169&amp;crop=1 300w, https://wayfarerdemo.files.wordpress.com/2016/07/video-your-glory-nothing-but-the-blood.jpg 640w"
          sizes="(max-width: 530px) 100vw, 530px" itemprop="image" data-attachment-id="25" data-permalink="https://wayfarerdemo.wordpress.com/photos/video-your-glory-nothing-but-the-blood/"
          data-orig-file="https://wayfarerdemo.files.wordpress.com/2016/07/video-your-glory-nothing-but-the-blood.jpg" data-orig-size="640,360"
          data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
          data-image-title="Mary: Vocals" data-image-description="" data-medium-file="https://wayfarerdemo.files.wordpress.com/2016/07/video-your-glory-nothing-but-the-blood.jpg?w=300"
          data-large-file="https://wayfarerdemo.files.wordpress.com/2016/07/video-your-glory-nothing-but-the-blood.jpg?w=640">
      </a>

      <h1 class="block-grid-item-title">
        <a href="https://wayfarerdemo.wordpress.com/videos/your-glory/" rel="bookmark">Your Glory / Nothing But the Blood — All Sons &amp;&nbsp;Daughters</a>
      </h1>

    </article>


  </div>



</main>